{% extends 'base.html' %}
{% block title %}countries for tourism{% endblock title %}
{% block content %}
 <h1>Лучшие страны для туризма</h1>

<!--<p>Один из наиболее авторитетных рейтингов самых популярных, привлекательных, перспективных для туризма стран — UNWTO. Функционирование данного рейтинга происходит при поддержке Статистического отдела Организации Объединенных Наций. Специалисты располагают надежной информацией о социально-экономических аспектах, связанных с индустрией путешествий. В основе исследований организации — данные по внутреннему, въездному и выездному туризму более 200 государств. UNWTO систематически собирает статистическую информацию из стран и территорий по всему миру в обширную базу данных, которая является наиболее полной и достоверной.</p>-->

<ul>
    {% for country in countries %}
        <li><a href="{% url 'podorojnic:country' country.id %}">{{ country }}</a></li>
    {% empty %}
    <li>Нет новых тем</li>
    {% endfor %}
</ul>
<a href="{% url 'podorojnic:new_country' %}">Добавить страну</a>
{% endblock content %}

